<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.faceunity.fulivedemo">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true" />

    <application
        android:name=".FUApplication"
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="${appName}"
        android:maxAspectRatio="2.4"
        android:resizeableActivity="false"
        android:supportsRtl="false"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/ActivityBaseTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.FUBeautyActivity"
            android:screenOrientation="portrait"
            android:theme="@style/FullScreenTheme" />
        <activity
            android:name=".activity.FUMakeupActivity"
            android:screenOrientation="portrait"
            android:theme="@style/FullScreenTheme" />
        <activity
            android:name=".activity.FUEffectActivity"
            android:screenOrientation="portrait"
            android:theme="@style/FullScreenTheme" />
        <activity
            android:name=".activity.FUHairActivity"
            android:screenOrientation="portrait"
            android:theme="@style/FullScreenTheme" />
        <activity
            android:name=".activity.SelectDataActivity"
            android:screenOrientation="portrait"
            android:theme="@style/ActivityBaseTheme" />
        <activity
            android:name=".activity.ShowPhotoActivity"
            android:screenOrientation="portrait"
            android:theme="@style/FullScreenTheme" />
        <activity
            android:name=".activity.ShowVideoActivity"
            android:screenOrientation="portrait"
            android:theme="@style/FullScreenTheme" />
        <activity
            android:name=".activity.PosterChangeListActivity"
            android:screenOrientation="portrait"
            android:theme="@style/FullScreenTheme" />
        <activity
            android:name=".activity.PosterChangeFaceCameraActivity"
            android:screenOrientation="portrait"
            android:theme="@style/FullScreenTheme" />
        <activity
            android:name=".activity.PosterChangeFaceActivity"
            android:screenOrientation="portrait"
            android:theme="@style/FullScreenTheme" />
        <activity
            android:name=".activity.FUAnimojiActivity"
            android:screenOrientation="portrait"
            android:theme="@style/FullScreenTheme" />
        <activity
            android:name=".activity.BeautifyBodyActivity"
            android:screenOrientation="portrait"
            android:theme="@style/FullScreenTheme" />
        <activity
            android:name=".activity.LightMakeupActivity"
            android:screenOrientation="portrait"
            android:theme="@style/FullScreenTheme" />
        <activity
            android:name=".activity.PtaActivity"
            android:screenOrientation="portrait"
            android:theme="@style/FullScreenTheme" />
        <activity
            android:name=".activity.BgSegGreenActivity"
            android:screenOrientation="portrait"
            android:theme="@style/FullScreenTheme" />
    </application>

</manifest>